.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--bg-primary);
}

.notFoundImage {
  width: 100%;
  height: 450px;
  background-image: url(../assets/pig-error.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.return {
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 800;
  box-shadow: var(--accent-primary);
  transition: background 400ms ease-in-out;
  color: var(--black);
  &:hover {
    color: var(--brand-color);
  }
}

.countdown {
  font-weight: 600;
}
