.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-primary);
  padding: 0 1rem;
}

.hero {
  display: none;
}

.imageContainer {
  display: flex;
  height: 90vh;
  border-radius: 1rem;
  background-image: url("../../../assets/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 70em) {
  .hero {
    display: block;
    max-width: 550px;
    object-fit: contain;
    transform: scale(.5);
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .hero:hover {
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.4));
    transform: scale(1);
  }


  .container {
    flex-direction: row;
    align-items: center;
  }
  
}
