.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.authCta {
  color: var(--text-secondary);
  text-align: center;
}

.linkCta {
  color: var(--text-primary);
  font-weight: 700;
  transition: color 300ms ease-in-out;
}

.linkCta:hover {
  color: var(--brand-color);
}
